{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4"></h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Your Order <i class="fa fa-shopping-cart"></i></li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                Product List
                <!-- <a class="btn btn-sm btn-success" href="{% url 'create' %}" style="padding: 8px; float: right; background-color: green; color: white;">ADD</a> -->
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Discounted Price</th>
                        <th>Actual Price</th>
                        <th>Discount Percentage</th>
                        <th>Rating</th>
                        <th>Rating Count</th>
                        <th>About</th>
                        <th>Image</th>
                        <th>Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.discounted_price }}</td>
                            <td>{{ product.actual_price }}</td>
                            <td>{{ product.discount_percentage }} %</td>
                            <td>{{ product.rating }}</td>
                            <td>{{ product.rating_count }}</td>
                            <td>{{ product.about_product }}</td>
                            <td><img src="{{ product.img_link }}" alt="Product Image"></td>
                            <td>{{ product.created_at  |date:"d-m-Y H:i:s" }}</td>
                            <!-- <td style="display: flex">
                                <a title="Add to cart" class="btn btn-sm btn-warning" href="buy-product/{{product.id}}"> <i class="fa fa-shopping-cart"></i></a>&nbsp;
                                <a title="Add to whishlist" class="btn btn-sm btn-danger" href="add-wishlist/{{product.id}}"> <i style="color: white" class="fa fa-heart"></i></a>
                                <a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"> <span class="fa fa-edit"></span> Edit</a>
                                <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="fa fa-trash"></span> Delete</a> -->
                            <!-- </td> -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}